<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnc">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <!--android:theme="@style/Theme.CNC">-->
        <activity android:name=".submit.SubmitChoiceActivity" />
        <!-- Checklist by Rita -->
        <activity android:name=".checklist.Checklist1Activity_2" />
        <activity android:name=".checklist.Checklist1Activity" />
        <activity android:name=".checklist.Checklist2Activity_2" />
        <activity android:name=".checklist.Checklist2Activity" />
        <!-- Manual, Orientation and Assignment by Lai Shan Law -->
        <activity android:name=".orientation.OrientationActivity" />
        <activity android:name=".orientation.Exercise1Activity" />
        <activity android:name=".orientation.Exercise2Activity" />
        <activity android:name=".orientation.AlertExerciseNoSubmitActivity" />
        <activity android:name=".assignment.AlertAssignmentNoSubmitActivity" />
        <activity android:name=".assignment.Assignment1Activity" />
        <activity android:name=".assignment.Assignment2Activity" />
        <activity android:name=".assignment.MainAssignmentActivity" />
        <activity android:name=".assignment.WarningNoAccessActivity" />
        <activity android:name=".manual.ManualActivity" />
        <activity android:name=".submit.SubmitActivity1" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.AdminEmailActivity" />
        <activity android:name=".admin.AdminReportActivity" />
        <activity android:name=".status.StatusActivity" />
        <!-- Submission by Ny Huilin -->
        <activity android:name=".submit.SubmitActivity" />
        <!-- Login & Register by Ny Nguyen -->
        <activity android:name=".loginPage.RegisterActivity"/>
        <activity android:name=".loginPage.VerificationActivity"/>
        <activity android:name=".loginPage.ResetPasswordActivity"/>
        <activity android:name=".loginPage.LoginActivity" />
        <activity android:name=".loginPage.AccountActivity" />
        <activity android:name=".main.EntranceActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <!--
        <activity
            android:name=".loginPage.LoginPageActivity"
            android:label="@string/title_activity_login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>